* {
    margin: 0;
    padding: 0;
}

span {
    color: crimson;
}

.NavBox {
    display: flex;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #f9f9f9;
    flex-direction: column;
    text-align: center;
}

.Section-Box1 {
    background-color: #000000;
    color: #f9f9f9;
}

.Container-Box1 {
    background-color: transparent;
}

.Row-Box1 {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.Row-Box1 label {
    font-size: 17px;
}

.col-sm-2 {
    padding: 19px;
}

/* Room Rates Working flow */
.heading {
    height: 150px;
    display: flex;
    background-color: #000000;
    color: #f9f9f9;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.Section-Box2 {
    background-color: #000000;
    color: #f9f9f9;
}

.Container-Box2 {
    background-color: transparent;
}

.Row-Box2 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.Row-Box2 img {
    padding: 20px;
    border-radius: 50%;
}